{% extends 'base.html.twig' %}


{% block body %}
    for create 
    <h2  class="page-header"> Add To List </h2>
    {{form_start(form)}}
     {{form_widget(form)}}
    {{form_end(form)}}

   
{% endblock %}
