{% extends 'base.html.twig' %}

{% block body %}
      <a class="btn btn-default" href="{{path('todo_list')}}""> return to list </a>
    <h2 class="page-header">Edit Todo </h2>
    {{form_start(form)}}
     {{form_widget(form)}}
      {{form_end(form)}}
   
{% endblock %}
